.table {
  width: 800px;
  border-collapse: collapse;
  text-transform: capitalize;
  background-color: white;
  text-align: center;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
}

.thead {
  color: rgb(15, 14, 14);
  background-color: rgb(82, 77, 77);
  text-transform: uppercase;
}

.td {
  padding: 10px 30px;

  border: 1px solid rgb(0, 0, 0);
  color: black;
}

.th {
  padding: 10px 30px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(10, 10, 10);
}

.tr {
  &:nth-of-type(odd) {
    background-color: rgb(142, 142, 142);
  }
}
